# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build products
build/
DerivedData/

# Swift Package Manager
.build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# App packaging
*.ipa
*.dSYM.zip
*.dSYM
